/* index.css */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Define your custom colors */
  --color-frame-light-1: #2563eb; /*Sidebar, buttons, links*/
  --color-frame-dark-1: #3b82f6; /*Sidebar, buttons, links*/
  --color-frame-light-2: #f9fafb; /*	Page background*/
  --color-frame-dark-2: #111827; /*	Page background*/
  --color-frame-light-3: #ffffff; /*Cards, panels*/
  --color-frame-dark-3: #1f2937; /*Cards, panels*/
  --color-frame-light-4: #111827; /*Main text*/
  --color-frame-dark-4: #f3f4f6; /*Main text*/
}

body{
    overflow-x: hidden;
}
